p {
    text-shadow: 1px 1px 1px #000;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 2px #000;
}

.text-green {
    color: #81CAAF;
}

.text-purple {
    color: #8A81CA
}

.text-red {
    color: #CA819C
}

.text-gold {
    color: #C1CA81
}

.bg-green {
    background-color: #81CAAF;
}

.bg-purple {
    background-color: #8A81CA;
}

.bg-red {
    background-color: #CA819C;
}

.bg-gold {
    background-color: #C1CA81;
}

.bg-dark {
    background-color: #131516;
}

.bg-gray {
    background-color: #474f53;
}

.border-custom {
    border: 2px solid;
    border-radius: 12px;
    border-left-color: #81CAAF;
    border-top-color: #CA819C;
    border-right-color: #C1CA81;
    border-bottom-color: #8A81CA;
}

.border-custom-reverse {
    border: 2px solid;
    border-radius: 12px;
    border-right-color: #81CAAF;
    border-bottom-color: #CA819C;
    border-left-color: #C1CA81;
    border-top-color: #8A81CA;
}