<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Roll Result')">
</head>
<body>
<header th:replace="partials/partials :: header"></header>
<h1>Results</h1>
<br>
<p>Your roll: <span th:text="${guess}"></span></p>
<p>Server roll: <span th:text="${roll}"></span></p>

<h3 th:if="${correct} == true">Your guess was correct!</h3>
<h3 th:if="${correct} == false">Your guess was incorrect, try again!</h3>

<br>

<table>
    <tr>
        <th>Roll</th>
        <th>Result</th>
    </tr>
    <tr th:each="result : ${resultList}">
        <td><span th:text="${result[0]}"></span></td>
        <td><span th:text="${result[1]}"></span></td>
    </tr>
</table>

<h5><a href="/roll-dice">Roll again?</a></h5>

<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>