<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Guess the dice roll</title>
</head>
<body>
    <nav th:replace="partials/partials :: navbar"></nav>
    <h1>Guess the dice roll!</h1>
    <p>Select one of the links below to make a guess on the next dice roll.</p>
    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>
</body>
</html>